ipykernel>=7.1.0
langchain>=1.2.7
langchain-community>=0.4.1
langchain-google-genai>=4.2.0
langchain-groq>=1.1.1
langchain-ollama>=1.0.1
langgraph>=1.0.7
python-dotenv>=1.2.1
tqdm>=4.67.2
langchain-tavily